<style>
    html, body {
        height: 100%;
        margin: 0;
    }

    body {
        display: flex;
        flex-direction: column;
    }

</style>

<div class="ft-in pt-40 pb-40 ft-16 bg-dark navbar-dark">
    <div class="d-flex">
        <div class="ft-info-w" style="margin-top: 30px; color: darkgrey;">
            <ul class="ft-info d-flex" style="list-style-type: none;">
                <li class="mr-20" style="margin-right: 10px;">(주)스토어</li>
                <li class="mr-20" style="margin-right: 10px;">대표 : 한종희</li>
                <li class="mr-20" style="margin-right: 10px;">개인정보보호책임자 : 이준희</li>
                <li class="mr-20" style="margin-right: 10px;">사업자등록번호 : 124-81-00998</li>
                <li class="mr-20" style="margin-right: 10px;">직업정보제공사업 신고번호 : 02-2255-0114</li>
            </ul>
            <ul style="list-style-type: none;">
                <li style="margin-bottom: 10px">경기도 수원시 영통구 삼성로129(메탄동)</li>
                <li style="color:grey;">본 사이트는 상업적으로 사용하지 않습니다.</li>
            </ul>
        </div>
    </div>
</div>